.ghe{
    padding: 7px 9px;
    width: 40px;
    background-color: antiquewhite;
    border-radius: 10px;
    background-color: rgba(126, 114, 120, 0.5);
    margin-right: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.ghe-sm{
    padding: 4px 7px;
    background-color: antiquewhite;
    border-radius: 7px;
    background-color: rgba(126, 114, 120, 0.5);
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 12px;
}

.ghe-md{
    padding: 6px 10px;
    background-color: antiquewhite;
    border-radius: 7px;
    background-color: rgba(126, 114, 120, 0.5);
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 16px;
}

.ghe-vip{
    background-color: rgba(235, 88, 15, 0.5);
}

.ghe-da-duoc-dat{
    background-color: rgba(243, 9, 9, 0.637);
    cursor: no-drop;
}

.ghe-dang-dat{
    background-color: rgba(7, 243, 58, 0.678);
}

.ghe-minh-dat{
    background-color: rgba(243, 7, 212, 0.466);
}